
<div class="jumbotron center">
  <div class="container">
    <h1>About us</h1>
	<p> We are working on our One Month Rails pinteresting app!</p>
	<img src="https://scontent-a-atl.xx.fbcdn.net/hphotos-prn1/t1/1238250_10101679947368924_1972446360_n.jpg" alt="me!">
  </div>
</div>


